<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarRentalApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CarRentalApplication.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    <header>
        <nav class="header navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand header-text" asp-area="" asp-controller="Home" asp-action="Index">Car Rental Application</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark header-text" asp-area="" asp-controller="Home" asp-action="Introduction">Introduction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark header-text" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark header-text" asp-area="" asp-controller="Brands" asp-action="Index">Brands</a>
                        </li>
                    </ul>
                    @* <ul>
                        <li class="nav-item">
                            <a class="nav-link text-dark header-text" asp-area="" asp-controller="Cars" asp-action="Index">Cars</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark header-text" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark header-text" asp-area="" asp-controller="Rentals" asp-action="Index">Rentals</a>
                        </li>
                    </ul> *@
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @* <li class="nav-item">
                                <span class="nav-link header-text">Hello, @User.Identity.Name!</span>
                            </li> *@
                            <li class="nav-item">
                                <a class="nav-link text-dark header-text" asp-controller="Cars" asp-action="AddCar">Add Car</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link header-text dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Dictionary
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Cities" asp-action="Index">Cities</a>
                                    <a class="dropdown-item" asp-controller="Colors" asp-action="Index">Colors</a>
                                    <a class="dropdown-item" asp-controller="Engines" asp-action="Index">Engines</a>
                                    <a class="dropdown-item" asp-controller="FuelCapacities" asp-action="Index">Fuel Capacities</a>
                                    <a class="dropdown-item" asp-controller="Gearboxes" asp-action="Index">Gearboxes</a>
                                    <a class="dropdown-item" asp-controller="Seats" asp-action="Index">Seats</a>
                                    <a class="dropdown-item" asp-controller="Years" asp-action="Index">Years</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <form asp-controller="Auth" asp-action="Logout" method="post">
                                    <button type="submit" class="btn btn-link nav-link header-text">Log Out</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link btn btn-blue" asp-controller="Auth" asp-action="Login">Log In</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - CarRentalApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>