@{
    ViewData["Title"] = "Home Page";
}


<div id="home-main">
    <h1 class="main-heading">
        Rent your desired car<br />
        at the lowest prices!
    </h1>

    <div class="cars-cards-div">

    </div>
</div>
