@{
    ViewData["Title"] = "Introduction";
}

<div class="text-center">
    <h4 class="display-4">Final Project of the C#.NET Course by ITStep Academy</h4>
    <p>This is a Car Rental Application MVC project.</p>
    <p>In this application, users can add and rent cars based on their preferences. Basic features are available on the homepage, but to access the full set of features, please register and log in first.</p>
    <p>A user can add cars, rent cars, filter them by specific features, and view additional details on their pages.</p>
    <p>For Authentication and Authorization, I used Microsoft's default Identity. There are two main tables: Users and Cars.</p>
    <p>The rest of the application is CRUD-optimized for specific needs.</p>
    <p>Enjoy your time on our website!</p>
    <br />

    <p>
        Github: <a href="https://github.com/lukalomidzee">lukalomidzee</a><br />
        LinkedIn: <a href="https://www.linkedin.com/in/luka-lomidze-51b276173/">Luka Lomidze</a><br />
        Instagram: <a href="https://www.instagram.com/lukalomidzee">Luka Lomidze</a><br />
    </p>
</div>
