html {
  font-size: 14px;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
    }

    .form-div > form {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .form-div {
      flex-direction: column;
      width: 60%;
    }

    .form-div > form {
      width: 100%;
      align-items: center !important;
    }

    .img-div {
        display: none;
    }

    .form-field {
        width: 50% !important;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header {
    /*background-color: #102A43 !important;*/
    /*background: linear-gradient(135deg, #102A43, #0077B6);*/
    background-color: #AAA4A4;
    border-bottom: 1px solid #102A43;
}

.header-text {
    color: #102A43 !important;
    /*text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);*/
}

.form-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.img-div > img {
    width: 100%;
}

.img-div {
    width: 50%;
}

form.form-control {
    border: none !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 50%;
    gap: 0.5rem;
}

.btn-primary {
    background-color: #0077B6 !important;
    border-color: #0077B6 !important;
}

.field-validation-valid {
    height: 24px;
}

.form-field {
    width: 100%;
}

.login-form-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn-blue {
    background-color: #0077B6;
    color: white !important;
}

.btn-blue:hover {
    background-color: #016296;
}

#home-main {
    margin-top: 8rem;
    width: 80%;
    align-self: start;
}

.main-heading {
    font-family: Roboto, sans-serif;
    font-size: 6rem;
    font-weight: 700;
    color: #0077B6;
    text-align: start;
    text-transform: uppercase;
}
