html {
  font-size: 14px;
}

#main {
    width: 100% !important;
    margin-bottom: 1rem;
}

#main-container {
    margin-bottom: 1rem;
    box-sizing:border-box;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
    }

    .form-div > form {
        width: 30%;
    }
}

@media screen and (max-width: 768px) {
    .form-div {
      flex-direction: column;
      width: 60%;
    }

    .form-div > form {
      width: 100%;
      align-items: center !important;
    }

    .img-div {
        display: none;
    }

    .form-field {
        width: 50% !important;
    }

    #create-car-form {
        flex-direction: column-reverse !important;
    }

    .values-div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    #CarImages {
        margin-bottom: 1rem;
    }

    .car-details{
        flex-direction: column-reverse !important;
        align-items: flex-start !important;
        /*width: 100% !important;*/
    }
    
    .car-photos {
        width: 100% !important;
        margin-bottom: 1rem;
    }

    .car-card {
        width: 100% !important;
    }

    .car-info {
        width: 100% !important;
    }

    #finder-main {
        flex-direction: column !important;
        align-items: center !important;
        justify-content: center !important;
        gap: 1rem !important;
    }

    #finder-filter {
        width: 80% !important;
    }

    .filter-select {
        width: 100% !important;
    }

    #filter-form {
        width: 100% !important;
    }
}

/*@media screen and (max-width: 992px){
    .finder-item {
        padding: 1rem;
        width: 80% !important;
        height: 30rem !important;
        background-color: #f0f0f0;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column !important;
        align-item: flex-start;
        justify-content: space-between;
    }

    .finder-item-detail {

        width: 100% !important;
    }
}*/

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.header {
    /*background-color: #102A43 !important;*/
    /*background: linear-gradient(135deg, #102A43, #0077B6);*/
    background-color: #AAA4A4;
    border-bottom: 1px solid #102A43;
}

.header-text {
    color: #102A43 !important;
    /*text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.5);*/
}

.footer {
    margin-top: 1rem;
    /*bottom: 0 !important;*/
}

.form-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.img-div > img {
    width: 100%;
}

.img-div {
    width: 50%;
}

.map-div {
    width: 60%;
    height: 80%;
}

form.form-control {
    border: none !important;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 50%;
    gap: 0.5rem;
}

.btn-primary {
    background-color: #0077B6 !important;
    border-color: #0077B6 !important;
}

.field-validation-valid {
    height: 24px;
}

.form-field {
    width: 100%;
}

.login-form-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.btn-blue {
    background-color: #0077B6;
    color: white !important;
}

.btn-blue:hover {
    background-color: #016296;
}

#home-main {
    margin-top: 4rem;
    width: 100%;
    align-self: start;
}

.main-heading {
    margin-bottom: 5rem;
    font-family: Roboto, sans-serif;
    font-size: 6rem;
    font-weight: 700;
    color: #0077B6;
    text-align: start;
    text-transform: uppercase;
}

.cars-cards-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
}

.car-card {
    width: 20rem;
    height: 25rem;
}

.car-card-info {
    width: 100%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /*gap: 1rem;*/
    padding: 1rem;
    border: 1px solid #0077B6;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.info {
    margin: 0;
}


#create-car-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.carousel, .carousel-inner {
    width: 100%;
    height: 185px !important;
    border-radius: 0.5rem;
}

.carousel-inner {
    display: flex;
    align-items: center;
}

.carousel-item {
    border-radius: 0.5rem !important;
}

.carousel-image {
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 0.5rem !important;
}

.card-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.liked {
    color: red;
}

.unliked {
    color: gray;
}

.car-details {
/*    width: 45%;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.car-photos{
    height: 23rem !important;
    width: 45%;
}

.carousel-inner-detailed {
    height: 100% !important;
}

.car-info {
    width: 45%;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.pagination .page-item.active .page-link {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.pagination .page-link {
    color: #0d6efd;
}

#finder-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 4rem;
}

#finder-filter {
    /*width: 15%;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

#finder-list {
    width: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /*justify-content: space-between;*/
    gap: 0.5rem;
}

.finder-item {
    padding: 1rem;
    width: 100%;
    height: 15rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.finder-item-detail {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.item-images {
    width: 25%;
}

.item-brand {
    width: 10%;
}

.item-model {
    width: 10%;
}

.item-engine {
    width: 5%;
}

.item-color {
    width: 5%;
}

.item-gearbox {
    width: 5%;
}

.item-price {
    width: 10%;
}

.item-action {
    width: 5%;
}

#filter-form {
    width: 100%;
    display: flex;
    flex-direction:column;
    gap: 0.5rem;
}